*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

body{
    background: #f4f4f4;
    font-family: sans-serif;
}
header{
    background:  #0089ca;
    height: 300px;
    overflow: none;
    position: fixed;
    width: 100%;
}
header h1{
    float: left;
    padding: 0px 10px;
    margin-left: 10px;
    font-size: 28px;
    color: #fff;
    line-height: 70px;
}
#itop{
    height: 22px;
    width: 30px;
    margin-top: px;
}
nav ul{
    padding-top: 15px;
    line-height: 5px;
    margin-right: 10%;
    float: left;
    
}
nav ul li{
    float: left;
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
nav ul li a:active,nav ul li a:hover{
    background: #fff;
    color:  #0089ca;
}
nav ul li a{
    display: block;
    font-size: 18px;
    color: white;
    padding: 22px 14px;
}
nav ul li ul li a{
    display: block;
    font-size: 16px;
    color: #fff;
    padding: 8px 14px;
}

nav ul li ul li a:hover{
    background: #fff;
    padding: 8px 0px;
    color:  #0089ca;
}
nav ul li ul{
    position: absolute;
    background:  #0089ca;
    display: none;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}
nav ul li:hover ul{
    display: block;
 }
nav ul li ul li{
    width: 160px;
    border-radius: 4px;
    padding: 8px 0px;
}

header input{
    display: none;
}

#checkbtn{
    color: #fff;
    font-size: 25px;
    float: right;
    line-height: 75px;
    display: none;
    transform: rotate(90deg);
    margin-right: 30px;
}
header label i{
    transform: rotate(90deg);
}

/* container */

header{
    background: url('sgr.jpg') no-repeat;
    background-color: #0089ac;
    background-size: cover;
    position: static;
    height: 300px;
}
.conhed{
    max-width: 900px;
    background: #fff;
    margin-left: 30px;
    margin: auto;
    padding: 10px;
}

/*** Section *****/
section h1{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding: 20px 0px 5px 0px;

}
section h3{
    font-weight: bold;
    text-align: center;
    padding: 0 0 15px 0;
}
section {
    text-align: center;
    line-height: 25px;
    padding: 50px;
    border-radius: 15px;
}
#second{
    text-align: center;
    position: static;
    width: 100%;
    height: 100%;
}
#second button, section button{
    background: #0089ac;
    padding: 15px;
    border: none;
    margin-top: 25px;
    border-radius: 80px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;    
}
#Second{
    background: #0089ac;
    color: #fff;
    width: 100%;
    position: relative;
    margin: 0;
    margin-top: 250px;
    border-radius: 0px;
    height: 1700px;
}
#Second .avatar{
    height: 250;
    width: auto;
    margin-top: -200px;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 2px solid #0089ca;
}
#Second p{
    word-spacing: 5px;
    overflow: none;
    width: auto;
}
.conhed{
    margin-top: 60px;
    background: inherit;
}

#Second .box{
    width: 350px;
    background: #fff;
    color: #0089ca;
    height: 260px;
    margin: 20px;
    display:block;
    float: left;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 15px;
}
#Second .box h1{
    padding: 20px;
    word-spacing: 10px;
    line-height: 30px;
}
#Second .box img{
    margin-top: -60px;
}
#Second button{
    background: #fff;
    color: #0089ca;
}

#third{
    margin-top: 50px;
}

.boxleft{
    text-align: left;
    margin-left: 10px;
}
.boxleft h3{
    text-align: left;
    padding: 20px;
}
.boxleft p{
    border-left: 3px solid #0089ca;
    padding: 9px;
    padding-left: 10px;
    width: 90%;
}
.boxleft p:nth-child(odd){
    border-left: 3px solid #ffcc00;
}
.show{
    margin-top: 80px;
    width: 380px;
}
.show p{
    width: 200px;
}

.Fourth{
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 1500px;
    border-top: 5px solid red;
    display: block;
}
.Fourth .box{
    background: #fff;
    text-align: center;
    display: inline-block;
    margin: 5px;
    margin-top: 90px;
    margin-left: 55px;
    width: 40%;
    height: 170px;
    border: #0089ca 3px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    float: left;
}
.Fourth img{
    height: 100px;
    margin-top: -10%;
    border-radius: 50%;
    border: #0089ca 3px solid;
    width: auto;
}
.Fourth button{
    background: #0089ca;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 10px;
    border: #0089ca 3px solid;
    margin-bottom: 22px;
}
.Fourth h2{
    font-size: 16px;
}
.Fourth h4{
    font-size: 14px;
}

.Fourth h1, .Fourth h2,.Fourth h3, .Fourth h5{
    padding: 5px;
    line-height: 29px;
}
.Fourth a{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border: none;
}
.Fourth p{
    padding: 20px;
}

#footer{
    background: #0089ac;
    padding: 15px;
    color: white;
    height: 360px;
    font-weight: bold;
    width: 100%;
}
#footer{
    width: 100%;
}
footer ul{
    float: left;
    width: 300px;margin: 10px;
    padding: 10px;
    text-align: center;
}
footer ul li{
    display: block;
    text-align: left;
}
footer ul li a{
    display: block;
    color: #fff;
    text-align: left;
}
footer p{
    width: 100%;
    border-top: 4px solid black;
    background: #0088ab;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
footer h4{
    background: #00808a;
    color: #fff;
}


.topbtn{
    transform: rotate(270deg);
    color: #fff;
    font-size: 35px;
    background: #ff0000;
    border-radius: 50%;
    padding: 8px;
    height: 40px;
    width: 34px;
    text-align: center;
    font-weight: bolder;
    position: fixed;
    float: right;
}
.botn{
    transform: rotate(90deg);
    margin-top: 53px;
    color: #fff;
    font-size: 35px;
    background: #ff0000;
    border-radius: 100%;
    padding: 8px;
    height: 40px;
    width: 34px;
    text-align: center;
    font-weight: bolder;
    position: fixed;
    float: right;
}
.toggle{
    height: 100px;
    float: right;
    margin-right: 57px;
}
/************ LOGIN MENU ***************/
.login{
    background: url(img/sgr.jpg) 0 0 no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.login img{
    border-radius: 50%;
    height: 150px;
    margin-top: -100px;
}
.loginform{
    background: inherit;
    padding: 20px;
    position: absolute;
    top: 20%;
    width: 40%;
    line-height: 40px;
    text-align: center;
    left: 25%;
    border-radius: 15px;
    margin: auto;
    box-shadow: 1px 1px 20px #000;
}
.loginform input{
    position: inherit;
    display: block;
    line-height: 30px;
    padding: 10px 0;
    margin: 10px;
    width: 80%;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    padding-left: 9px;
    margin-top: 25px;
}
.loginform button{
    background: #fff;
    border: #0089ca;
    border-radius: 8px;
    padding: 10px;
}
.hedlogin{
    float: left;
    width: 100%;
    padding: 10px;
    display: inline-grid;
    margin-bottom: 20px;
}
.hedlogin h1{
    color: #fff; 
    font-size: 35px;
    margin-right: 50px;
}
.hedlogin a{
    color: #fff;
}


/******************** Phone Version *****************/

@media (max-width: 874px){
    #checkbtn{
    color: #fff;
    font-size: 25px;
    float: right;
    line-height: 75px;
    display: block;
    transform: rotate(90deg);
    margin-right: 30px;
    }
    nav ul{
        display: block;
        background:  #0089ca;
        width: 90%
    }
    nav ul li{
        display: block;
        clear: both;
    }
    nav ul li ul{
        position: inherit;
    }
    nav ul li ul li{
        margin: 0px;
        display: block;
        position: absolute
        width: 100%;
    }
    nav ul {
        display: none;
    }
    #check:checked ~ nav ul{
        display: block;
    }
    section{
        border-radius: 0px;
    }
    .conhed{
        margin: 0px 20px 0px 0px;
    }
    #Second{
        margin-top: 250px;
    }
    #third{
    margin-top: 1400px;
    }
    .Fourth{
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 1700px;
    display: block;
    }
    .Fourth img{
    margin-top: -20%;
    }
    .Fourth button{
    margin-bottom: -10px;
    }
    .Fourth .box{
    background: #fff;
    text-align: center;
    display: inline-block;
    margin: 5px;
    margin-top: 90px;
    width: 45%;
    height: 180px;
    border: #0089ca 3px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    float: left;
    }
    footer{
    border-radius: 0px;
    margin: 0;
    padding: 0;
    height: 300px;
    }
    footer ul{
    float: left;
    width: 190px;
    height: auto;
    text-align: center;
    }
}
